$bgColor: #131b1f;
$headingFontColor: #FFFFFF;
$shadowColor: #808080;
$dropShadowColor: #111111;
$contentFontColor: #95acb8;
$borderColor: #4e5a63;
$codeColor: #0d1116;
$listItemBefore: '-';
$headingFont: 'Apercu';
$contentFont: 'RobotoFlex';
$codeFont: 'FiraCode-Regular';

@import 'sass/lume-themes';