@media screen and (max-width: 800px){    
    h1 {
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    div.breaker {
        height: 30px;
    }
    div.themeColumn{
        width: 90%;
    }
    div.theme {
        margin-top: 40px;
        margin-bottom: 40px;
    }   
    h2.themeTitle {
        font-size: 25px;
    }
    p.themeDescription {
        font-size: 20px;
    }
    
    p.themeLink {
        font-size: 20px;
    }
    a.themeLink {
        font-size: 20px;
    }    
    h2 {
        padding-bottom: 10px;
        font-size: 25px;
    }
    h3 {
        padding-bottom: 10px;
        font-size: 24px;    
    }
    h4 {
        padding-bottom: 10px;
        font-size: 23px;
    }
    
    p {
        font-size: 20px;
    }
    
    a {
        font-size: 20px;
    }
    
    code {
        font-size: 20px;
    }    
    ul {
        padding-bottom: 5px;
    }
    
    li {
        padding-bottom: 5px;
        font-size: 20px;
    }
    a.gitHubLink {
        font-size: 25px;
    }
}