<!DOCTYPE html>
<html>
 {% include 'partials/head.njk' %}
 <body>
 {% include 'partials/heading.njk' %}
 <div class="themeColumn">
  {% for item in themes.themes %}
  <div class="theme">
   {% if item.isRemote %}
   <img class="previewImage" src="{{ item.imageURL }}"/>
   {% else %}
   <img class="previewImage" src="{{ site.baseurl}}{{ item.imageURL }}"/>
   {% endif %}
   <h2 class="themeTitle">{{ item.title }}</h2>
   <p class="themeDescription">{{ item.description }}</p>
   <p class="themeLink">
    <a class="themeLink" href="{{ item.themeLink }}">
     {{ site.usageText }}
    </a>
   </p>
  </div>
 {% endfor %}
 </div>
 {% include 'partials/breaker.njk' %}
 </body>
</html>