<!DOCTYPE html>
<html>
 {% include 'partials/head.njk' %}
 <body>
 {% include 'partials/heading.njk' %}
 <div class="themeColumn">
  {% for item in search.pages("url^=/themes/") %}
  <div class="theme">
   {% if item.data.isRemote %}
   <img class="previewImage" src="{{ item.data.imageURL }}"/>
   {% else %}
   <img class="previewImage" src="{{ site.baseurl}}{{ item.data.imageURL }}"/>
   {% endif %}
   <h2 class="themeTitle">
   <a class="gitHubLink" href="{{ item.data.projectLink }}">
    {{ item.data.title }}
   </a>
  </h2>
   <p class="themeDescription">{{ item.data.description }}</p>
   <p class="themeLink">
    <a class="themeLink" href="{{ site.baseurl}}{{ item.data.url }}">
     {{ site.usageText }}
    </a>
   </p>
  </div>
 {% endfor %}
 </div>
 {% include 'partials/breaker.njk' %}
 </body>
</html>
